body {background-color: #424949;}
  p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color:rgb(255, 255, 245);
    }
  #Zeile1 {font-size: 250%}
  #Zeile2 {font-size: 500%}
  input {
    width: 50px;
  }
  #bar {
    margin: auto;
    border: 2px solid whitesmoke;
    width: 500px;
    height: 15px;
  }
  #fill {
    margin-right: 0px;
    border: 0px;
    background-color: whitesmoke;
    height: 15px;
  }
